body{ 
    margin: 0;
    font-family: Arial, sans-serif; 
    background-color: rgb(230, 154, 119); 		 
    background-image:url("/imagens/flores.png");
            color: rgb(63, 40, 31);
}           

header{
    background-color: black;
        color: white;
    padding:15px;
    margin:10px;	
    border-radius: 25px;
   }
   
   .carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: none;
}

img {
    max-width: 700px;
    max-height: 100vh;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
}

img {
    max-width: 100%;
    max-height: 80vh;
}

 .pai{ 
     background-color: rgb(83, 47, 30);
     color: rgb(255, 229, 221);
     border-radius: 25px;
     padding-left: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 h1{
     font-style:bold;
 }
 h3{
     font-style: italic;
 }

 