body{ 
    background-color: rgb( 205, 255, 209);
    background-image:url("flores.png");
    
}
header{
	background-color:rgb(60, 226, 248);
}
p,h1{
	font-style:italic;
	}
main{
	width: 60%;
	margin:auto;
}
div{
    display:inline-block; 
    float: left;
}
    #texto{
        width: 400px;
        height: 400px ;
        background-color: rgb(75, 11, 75);
        color:aliceblue;
        border-radius: 25px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #foto{
        width: 400px;
        height: 400px;
        padding: 10px;
        border-radius: 25px;
        background-color: rgb(75, 11, 75);
    }

img{
    width: 400px;
    height: 400px ;
}
