body{ 
    background-color: rgb( 205, 255, 209);
    background-image:url("flores.png");
    
}
p,h1{
	font-style:italic;
	}

 div{
    display:inline-block; 
    float: center;
}

    #texto{  
        text-align: center;
        float: left;
        width: 55%;
        width: 400px;
        height: 400px ;
        background-color: rgb(75, 11, 75);
        color:aliceblue;
        border-radius: 25px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #foto{
        width: 40%;
        float: right;
        width: 400px;
        height: 400px;
        padding: 10px;
        border-radius: 25px;
        background-color: rgb(75, 11, 75);
    }

img{
    width: 400px;
    height: 400px ;
}
